<?xml version="1.0"?>

<model>
  <name>template_1</name> <!-- Change the name but make sure it is the same as the one in the sdf file -->
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>My name</name>
    <email>name@email.address</email>
  </author>

  <description>
    describe your model
  </description>
</model>
